<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PiattaformaNoleggioVeicoli.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PiattaformaNoleggioVeicoli.Business.Properties.Settings.DBSilvia"
            connectionString="Data Source=217.133.8.42,1435;Initial Catalog=EsameStageSilvia;User ID=silvia;Password=silvia" />
    </connectionStrings>
    <applicationSettings>
        <PiattaformaNoleggioVeicoli.Business.Properties.Settings>
            <setting name="DBAzure" serializeAs="String">
                <value>Server=stagesilvia.database.windows.net;Initial Catalog=EsameStageSilvia;Persist Security Info=False;User ID=Silvia_Wolf;Password=Joy160512;
</value>
            </setting>
            <setting name="ARCAConnectionString" serializeAs="String">
                <value>Data Source=sqlserverprincipale.database.windows.net;Initial Catalog=ARCA;User ID=utente;Password=Safo2022!</value>
            </setting>
        </PiattaformaNoleggioVeicoli.Business.Properties.Settings>
    </applicationSettings>
</configuration>